.content
  font-size 35px

.definition
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #f0f4f8
  .title
    font-weight bold

.theorem
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #edfbf2 
  .title
    font-weight bold

.conclusion
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #f9f2f9
  .title
    font-weight bold

